# Fichiers générés par Flutter/Dart — à ne jamais envoyer sur GitHub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.lock

# Fichiers spécifiques Android générés automatiquement
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties
android/**/gradle-wrapper.jar

# Fichiers spécifiques iOS générés automatiquement
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Fichiers système
.DS_Store
Thumbs.db

# Éditeurs
.vscode/
.idea/
*.iml
